<!DOCTYPE html>
<html>
<head>
  <title>Play: {{title}}</title>
  <link rel="stylesheet" href="/stylesheets/base.css" type="text/css" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/play.js"></script>
  <script type="text/javascript" src="/js/play.night.js"></script>
</head>

<body>
  <div class="navigation">
    <h1>{{title}}</h1>

    <a class="{{queue_page}}" href="/">Queue</a>
    <a class="{{history_page}}" href="/history">History</a>
    <a class="{{profile_page}}" href="/{{login}}">@{{login}}</a>

    <form method="get" action="/search">
      <input type="search" name="q" />
    </form>

  </div>

  <div id='advanced_controls'>
     <a id='control-volume-mute' class='button control-volume' data-volume-level='0' href='#'>Mute</a>
     <a id='control-volume-40' class='button control-volume' data-volume-level='40' href='#'>40%</a>
     <a id='control-volume-60' class='button control-volume' data-volume-level='60' href='#'>60%</a>
     <a id='control-volume-60' class='button control-volume' data-volume-level='75' href='#'>75%</a>
     <a id='control-volume-80' class='button control-volume' data-volume-level='80' href='#'>80%</a>
     <a id='control-volume-100' class='button control-volume' data-volume-level='100' href='#'>100%</a>
     <a id='control-songs-import' class='button' href='#'>Index uploaded songs</a>
  </div>

  <div class="controller">
    {{#stream?}}
      <a href="{{stream_url}}">stream</a>
    {{/stream?}}

    {{#playing?}}
      <a href="/api/pause">❙❙</a>
    {{/playing?}}

    {{^playing?}}
      <a href="/api/pause">❯</a>
    {{/playing?}}

    <a href="/api/next">❯❯</a>
  </div>

  {{{yield}}}
</body>
</html>
